header
	margin-top 15px
	position fixed
	top 0
	left 0
	right 0
	z-index 10

.contenedor
	position relative
	min-height 400px
	z-index 1
	height 800px

.content-uno
	background red
	text-align center
	#dibujo
		position relative 
		background blue	
		display block
		top 10%
		font-size 70px


.content-dos
	background blue

