body
	background gray

////////////  HEADER  ////////////

header
	margin-top 15px
	position fixed
	top 0
	left 0
	right 0
	z-index 10

	
////////////  HOME  ////////////

#section-home
	background #777
	position relative
	min-height 400px
	div
		text-align center
	#img-home
		//background red
		position relative
		display block
		top 15%
		text-align center
		img 
			margin 0 auto
	#texto-home
		position relative
		display block
		top 20%
		text-align justify
		padding 0 20% 0 20%
	#info-home
		position absolute
		width 100%
		bottom 0


////////////  SLIDE  ////////////

#section-timeline
	position relative
	text-align center
	background #D6D6D6
	width 90%
	overflow hidden

	ul
		position relative
		list-style none
		margin 0
		padding 0
		background green
		height 100%
		width 4000px  // inicial width
		overflow hidden
		text-align left
		
		li
			position relative
			display inline-block
			vertical-align top
			width 300px
			height 100%
			overflow hidden
			background red
			border-right solid 1px #fff
			
