.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.spiner {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
  z-index: 999;
}
.spiner i {
  line-height: 50px;
  font-size: 50px;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  background: #123150;
  font-family: 'Merriweather', serif;
}
body #main-content {
  position: relative;
}
header {
  position: absolute;
  text-align: center;
  padding: 15px 15px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
header #logo {
  background: url("../img/logo-gold.png");
  width: 60px;
  height: 41px;
  float: left;
  cursor: pointer;
}
header .btn-group {
  float: right;
  margin-bottom: 10px;
}
header .btn {
  background: transparent;
  font-size: 8px;
  padding: 4px 10px;
  font-style: italic;
  border: solid 1px #d1b03c;
  color: #d1b03c;
}
header .btn:hover {
  background: #d1b03c;
  color: #fff;
}
header .menu-timeline {
  display: none;
  position: relative;
  font-size: 12px;
  font-family: sans-serif;
}
header .menu-timeline .box {
  position: relative;
  width: 50px;
  height: 30px;
  float: left;
  border-bottom: solid 1px #222;
}
header .menu-timeline .box .numero {
  display: block;
  height: 20px;
  line-height: 25px;
  cursor: pointer;
}
header .menu-timeline .box .numero:hover {
  color: #999;
}
header .menu-timeline .box .numero:hover ~ .punto {
  background: #999;
}
header .menu-timeline .box .punto {
  position: absolute;
  background: #222;
  width: 4px;
  height: 4px;
  bottom: -2.5px;
  left: 50%;
  margin-left: -2px;
  cursor: pointer;
}
header .menu-timeline .box .punto:hover {
  background: #999;
}
header .menu-timeline .box.active {
  font-size: 20px;
}
.header-year {
  background: rgba(209,176,60,0.5);
}
.header-year #logo {
  background: url("../img/logo-black.png");
}
.header-year .btn {
  border: solid 1px #222;
  color: #222;
}
.header-year .btn:hover {
  background: #222;
  color: #fff;
}
.header-year .menu-timeline {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  header {
    position: fixed;
  }
}
#section-home {
  position: relative;
  background: url("../img/back_home800.png");
  text-align: center;
  min-height: 600px;
}
#section-home #img-home {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
#section-home #texto-home {
  margin-top: 50px;
}
#section-home #texto-home #first {
  font-size: 16px;
  font-style: italic;
  color: #d1b03c;
  padding: 0 10%;
}
#section-home #texto-home #last {
  font-size: 13px;
  color: #fff;
  padding: 0 15%;
}
#section-home #info-home {
  font-size: 10px;
  font-style: italic;
  color: #d1b03c;
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  #section-home #img-home {
    position: relative;
    margin-top: 20px;
    max-width: 320px;
    width: 30%;
    height: auto;
  }
  #section-home #texto-home {
    position: absolute;
    bottom: 10%;
    margin: 0;
  }
  #section-home #info-home {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
#section-timeline {
  position: relative;
  text-align: center;
  background: #d6d6d6;
  width: 100%;
  overflow: hidden;
}
#section-timeline ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
#section-timeline ul li {
  position: absolute;
  list-style: none;
  height: 100%;
  overflow: hidden;
  background: #808080;
}
#section-timeline ul li a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#section-timeline ul li a .slide-hover {
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-transition: opacity 400ms linear;
  -moz-transition: opacity 400ms linear;
  -o-transition: opacity 400ms linear;
  -ms-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
}
#section-timeline ul li a:hover .slide-hover {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
#section-timeline ul li a:hover h5 {
  z-index: 5;
}
#section-timeline ul li a img {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}
#section-timeline ul li a h5 {
  position: absolute;
  z-index: 3;
  bottom: 50px;
  left: 5%;
  margin: 0;
  font-style: italic;
  font-size: 28px;
  width: 60%;
  text-align: left;
  color: #fff;
}
#section-timeline ul li a h4 {
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 5;
  bottom: 50px;
  left: 95%;
  color: #d1b03c;
  font-size: 80px;
  height: 80px;
  line-height: 80px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: left bottom 0;
  -moz-transform-origin: left bottom 0;
  -o-transform-origin: left bottom 0;
  -ms-transform-origin: left bottom 0;
  transform-origin: left bottom 0;
}
@media only screen and (min-width: 768px) {
  #section-timeline {
    background: #f00;
  }
}
#year {
  background: #fff;
}
#year #year-top,
#year #year-bottom {
  background: #fff;
}
#year #year-top .content-img img,
#year #year-bottom .content-img img {
  margin: 0 auto;
}
#year #year-top .content-text > div,
#year #year-bottom .content-text > div {
  text-align: center;
  padding: 0 10%;
}
#year #year-slide {
  display: block;
  background: #008000;
  position: relative;
  height: auto;
}
#year #year-slide ul#carousel {
  background: #f00;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
#year #year-slide ul#carousel li {
  position: relative;
  padding: 0;
  margin: 0;
  float: left;
  list-style: none;
}
#year #year-slide ul#carousel li img {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
#year #year-slide ul#carousel li span {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 1px;
  display: block;
  background: #000;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  color: #fff;
  padding: 2px 5px;
}
#year #year-slide:hover #controles {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
#year #year-slide #controles {
  position: absolute;
  z-index: 9;
  width: 50px;
  height: 60px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -30px;
  background: #000;
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
  -webkit-transition: opacity 400ms linear;
  -moz-transition: opacity 400ms linear;
  -o-transition: opacity 400ms linear;
  -ms-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
}
#year #year-slide #controles a {
  display: block;
  float: left;
  width: 25px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  color: #999;
  -webkit-transition: color 200ms linear;
  -moz-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  -ms-transition: color 200ms linear;
  transition: color 200ms linear;
}
#year #year-slide #controles a:hover {
  color: #fff;
}
@media only screen and (min-width: 768px) {
  #year {
    position: relative;
  }
  #year #year-top,
  #year #year-bottom {
    position: relative;
  }
  #year #year-top .contenedor,
  #year #year-bottom .contenedor {
    position: relative;
    height: 100%;
    width: 50%;
    float: left;
    vertical-aling: top;
  }
  #year #year-top .content-img img,
  #year #year-bottom .content-img img {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  #year #year-top .content-text,
  #year #year-bottom .content-text {
    z-index: 8;
  }
  #year #year-top .content-text h1,
  #year #year-bottom .content-text h1 {
    margin: 0;
    font-size: 5em;
  }
  #year #year-top .content-text h2,
  #year #year-bottom .content-text h2 {
    font-size: 3em;
  }
  #year #year-top .content-text h3,
  #year #year-bottom .content-text h3 {
    margin-top: 0;
  }
  #year #year-top .content-text > div,
  #year #year-bottom .content-text > div {
    text-align: left;
    padding: 0;
    position: absolute;
    z-index: 9;
    left: 10%;
    right: 10%;
    top: 15%;
    bottom: 10%;
  }
  #year #year-top .content-text > div .hacer-scroll,
  #year #year-bottom .content-text > div .hacer-scroll {
    z-index: 10;
    position: absolute;
    top: 40%;
    bottom: 0;
  }
  #year #year-slide #controles {
    width: 60px;
    height: 80px;
    margin-left: -30px;
    margin-top: -40px;
  }
  #year #year-slide #controles a {
    width: 30px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
  }
}
