<IfModule mod_speling.c>
	CheckSpelling on
	CheckCaseOnly On
</IfModule>

Options +FollowSymLinks
RewriteEngine on
# RewriteCond %{HTTP_HOST} ^example.com$ [NC]
# RewriteRule ^(.*)$ http://www.example.com/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]

RewriteBase /alianza90


